{% extends 'base.html' %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'code_editor/css/code_edit.css' %}">

<script src="{% static 'code_editor/source/codemirror-5.55.0/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'code_editor/source/codemirror-5.55.0/lib/codemirror.css' %}">
<script src="{% static 'code_editor/source/codemirror-5.55.0/mode/python/python.js' %}"></script>
<script src="{% static 'code_editor/source/codemirror-5.55.0/addon/edit/closetag.js' %}"></script>
<script src="{% static 'code_editor/source/codemirror-5.55.0/addon/fold/foldcode.js' %}"></script>
<script src="{% static 'code_editor/source/codemirror-5.55.0/addon/fold/indent-fold.js' %}"></script>
<script src="{% static 'code_editor/source/codemirror-5.55.0/addon/fold/foldgutter.js' %}"></script>
<link rel="stylesheet" href="{% static 'code_editor/source/codemirror-5.55.0/addon/fold/foldgutter.css' %}">
<link rel="stylesheet" href="{% static 'code_editor/source/codemirror-5.55.0/addon/scroll/simplescrollbars.css' %}">
<script src="{% static 'code_editor/source/codemirror-5.55.0/addon/scroll/simplescrollbars.js' %}"></script>
<link rel="stylesheet" href="{% static 'code_editor/source/codemirror-5.55.0/theme/xq-light.css' %}">
<link rel="stylesheet" href="{% static 'code_editor/source/codemirror-5.55.0/theme/mdn-like.css' %}">
<link rel="stylesheet" href="{% static 'code_editor/source/codemirror-5.55.0/theme/darcula.css' %}">
<script src="{% static 'code_editor/source/codemirror-5.55.0/addon/edit/closebrackets.js' %}"></script>

{% endblock %}


{% block title %}
Codeshare Login
{% endblock %}


{% block body %}
<div class="full-page w-100 h-100">
    {% include 'logged_in.html' %}

    <main class="proj-home-layout layout-gray-back">
        <div class="grid">
            <div class="proj_home-root-vue">

            </div>
        </div>
    </main>
</div>

{% load static %}
<!-- brings vue library into page-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="{% static 'code_editor/scripts/quick_edit.js' %}"></script>
{% endblock %}