{% extends 'base.html' %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'projects/css/project_home.css' %}">
{% endblock %}


{% block title %}
{{ breadcrumb.0.displayName }}
{% endblock %}


{% block body %}


{{ breadcrumb|json_script:"breadcrumb" }}
{{ proj_files|json_script:"proj-files" }}
{{ contributers|json_script:"contr-data" }}


<div class="full-page w-100 h-100">
    {% include 'logged_in.html' %}

    <main class="proj-home-layout layout-gray-back">
        <div class="grid">
            <div class="proj_home-root-vue">
                
            </div>
        </div>
    </main>
</div>



{% load static %}

<script src="{% static 'projects/scripts/project_home.js' %}"></script>
{% endblock %}