<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- brings vue library into page-->
    <script src="{% static 'js/vue.js' %}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head %} {% endblock %}

    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<body>

    

    {% block body %} {% endblock %}



    {% block scripts %}

    {% endblock %}

    

</body>

</html>