{% extends 'base.html' %}


{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/home.css' %}">
{% endblock %}


{% block title %}
Codeshare Home
{% endblock %}


{% block body %}

{{ projects|json_script:"user-projs" }}
{{ affiliated_users|json_script:"aff-users" }}

<div class="full-page w-100 h-100">
    {% include 'logged_in.html' %}

    <main class="user-home-layout layout-gray-back">
        <div class="grid">
            <div class="user_home-root-vue">
                
            </div>
        </div>
    </main>
</div>

{% load static %}
<script src="{% static 'accounts/scripts/user_home.js'%}"></script>
{% endblock %}