{% extends 'base.html' %}


{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">


{% endblock %}


{% block title %}
Create Codeshare Account
{% endblock %}


{% block body %}
{% include 'logged_out.html' %}
<div class="wrapper fadeInDown">
    <div id="form-content">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
        </svg>
        <br>
        <h2> Create Account </h2>
        <form id="create_form" action="{% url 'account:user_create' %}" method="post">
            <!--
            <div class="form-group">
                <label for="InputUsername">Username</label>
                <input type="text" name="username" class="form-control" id="InputUsername"
                    aria-describedby="usernameHelp">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            -->
            {% for field in user_form %}
            <div class="form-group">
                <label for="InputUsername">
                    {{ field.label_tag }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Create</button>
            <div hidden>
                {{ account_form.as_p }}
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}